# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
env/
venv/
ENV/

# Models & Checkpoints
checkpoints/
*.pth
*.pt
*.onnx
*.onnx.data
models/

# Data
*.mp4
*.avi
*.mjpeg
*.jpg
*.jpeg
*.png
saved_images/
training/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
